@model Pregled

<form method="post" asp-action="Izmeni">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Izmeni pregled</h2>
			<hr />
		</div>
		@*<div asp-validation-summary="All"></div>*@
		<div class="mb-3">
			<label asp-for="Datum"></label>
			<input enabled = "false" id = "datepicker" asp-for="Datum" class="form-control" />
			<span asp-validation-for="Datum" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Odeljenje.NazivOdeljenja"></label>
			<input asp-for="Odeljenje.NazivOdeljenja" class="form-control" />
			<span asp-validation-for="Odeljenje.NazivOdeljenja" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Ažuriraj</button>
		<a asp-controller="Pregled" asp-action="PregledIndex" class="btn btn-secondary" style="width:150px">
			Nazad na listu
		</a>
	</div>
</form>
@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
	    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
			$("#datepicker").SelectedDate = DateTime.Now;
        });
    </script>
}
