@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<div class="row potvrda-sifre">
<h1>Potvrda zaboravljene šifre.</h1>
<p>
    Molimo Vas da proverite vaš e-mail radi resetovanja šifre.
</p>
</div>