@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Vaša šifra je resetovana. Molimo Vas <a asp-page="./Login"> kliknite ovde da bi se ulogovali.</a>.
</p>
