@model Doktor

@*<form method="post" asp-action="Edit">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Edit Category</h2>
			<hr />
		</div>
		<div asp-validation-summary="All"></div>
		<div class="mb-3">
			<label asp-for="Ime"></label>
			<input asp-for="Ime" class="form-control" />
			<span asp-validation-for="Ime" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Prezime"></label>
			<input asp-for="Prezime" class="form-control" />
			<span asp-validation-for="Prezime" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="SrednjeIme"></label>
			<input asp-for="SrednjeIme" class="form-control" />
			<span asp-validation-for="SrednjeIme" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="JMBG"></label>
			<input asp-for="JMBG" class="form-control" />
			<span asp-validation-for="JMBG" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Profesija"></label>
			<input asp-for="Profesija" class="form-control" />
			<span asp-validation-for="Profesija" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="GodineIskustva"></label>
			<input asp-for="GodineIskustva" class="form-control" />
			<span asp-validation-for="GodineIskustva" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Prezime"></label>
			<input asp-for="Prezime" class="form-control" />
			<span asp-validation-for="Prezime" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Ocena"></label>
			<input asp-for="Ocena" class="form-control" />
			<span asp-validation-for="Ocena" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Email"></label>
			<input asp-for="Email" class="form-control" />
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="DoktorsIDNumID"></label>
			<input asp-for="DoktorsIDNumID" class="form-control" />
			<span asp-validation-for="DoktorsIDNumID" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Ažuriraj</button>
		<a asp-controller="Doktor" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Nazad na listu
		</a>
	</div>
</form>*@