@model Odeljenje

<form method="post" asp-action="Delete">
	<input asp-for="OdeljenjeID" hidden />
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Obriši odeljenje</h2>
			<hr />
		</div>
		@*<div asp-validation-summary="All"></div>*@
		<div class="mb-3">
			<label asp-for="NazivOdeljenja"></label>
			<input asp-for="NazivOdeljenja" class="form-control" />
			<span asp-validation-for="NazivOdeljenja" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-danger" style="width:150px">Obriši</button>
		<a asp-controller="Odeljenje" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Vrati se nazad
		</a>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}
